<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="http://sstatic.net/so/favicon.ico">

    <title>Quantify self Pyladies</title>

    <!-- Bootstrap core CSS -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/navbar-fixed/">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>

  <body>
    <nav class="navbar is-primary navbar-expand-md navbar-dark fixed-top bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('api.login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('api.quantify') }}">Tracking<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('api.admin_panel') }}">Admin<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{{ url_for('api.logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>


    <main role="main" style="margin-left: 2%; margin-right: 2%; margin-top: 5rem;">
      <div class="container">
        <form method="post" action="" style="margin-bottom: 10px">
      <div class="container">
          <p>Start time of the records</p>
	  <input class="input is-primary is-medium" type="text" placeholder="2020-08-20T00:00:00" name="start" style="margin-bottom: 10px">
	  <p>End time of the records</p>
          <input class="input is-info is-medium" type="text" placeholder="2020-08-20T05:00:00" name="end" style="margin-bottom: 10px">
	
          <input class="button is-primary is-medium" type="submit" name="btn" value="download">
          <input class="button is-primary is-medium" type="submit" name="btn" value="delete data">
          <input class="button is-primary is-medium" type="submit" name="btn" value="delete user">
        </form>

      </div>
     </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
